{{!-- TODO --}}
{{!-- CSS NOT DONE. May need to remove all class variables. Maybe some id's as well --}}

{{!-- Main dashboard page that will be the base for both admin and user --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psy MD. Dashboard</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">
    <link href="/css/bootstrap.css" rel="stylesheet">
     <link href="/css/dashboard.css" rel="stylesheet">
</head>
  

  <main class="col-auto">
    {{{body}}}
  </main>

</body>

<script src="/js/logout.js"></script>

</html>
