{{!-- TODO --}}
{{!-- CSS NOT DONE. May need to remove all class variables. Maybe some id's as well --}}

{{!-- This is the main landing page --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psy MD. Login</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>

    <footer class="footer flex-row justify-center">Clincal Psych. updated 2022</footer>

    {{!-- JS scripts: JS --}}
    <script src="/js/login.js"></script>
</body>
<html>
{{!-- Log in for either admin or patient --}}

