{{!-- TODO --}}
{{!-- CSS NOT DONE. May need to remove all class variables. Maybe some id's as well --}}

{{!-- This is the main landing page --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psy MD. Login</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <h1>HEADER</h1>
        <div class="row">
             {{!-- user login --}}
            <div class="col-md-6">
                <h2>Patient portal</h2>
                <form class="form login-form">
                    <div class="form-group">
                        <label for="email-login">email:</label>
                        <input class="form-input" type="text" id="user-email-login" />
                    </div>
                    <div class="form-group">
                        <label for="password-login">password:</label>
                        <input class="form-input" type="password" id="user-password-login" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="user-button">login</button>
                    </div>
                </form>
            </div>

            {{!-- admin login --}}
            <div class="col-md-6">
                <h2>Admin Portal</h2>

                <form class="form login-form">
                    <div class="form-group">
                        <label for="email-login">email:</label>
                        <input class="form-input" type="text" id="admin-email-login" />
                    </div>
                    <div class="form-group">
                        <label for="password-login">password:</label>
                        <input class="form-input" type="password" id="admin-password-login" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="admin-button">login</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer flex-row justify-center">Clincal Psych. updated 2022</footer>

    {{!-- JS scripts: JS --}}
    <script src="/js/login.js"></script>
</body>
<html>
{{!-- Log in for either admin or patient --}}

