<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right cat">
  <div class="dashboardtop">
    <img
      src="//www.html.am/images/samples/remarkables_queenstown_new_zealand-300x225.jpg"
      alt="Avatar"
      style=""
    />
    <div class="container">
      <h4>Currently Signed in: <b>{{data.name}}</b></h4>
        <h4>Role:<b> {{data.title}}</b></h4>
    </div>
  </div>
  <div class="dashboardbot">
    <div>
      <h1>List of patients</h1>
      <ul>
    {{#each data.appointments as |appointment|}}
        <li>{{user.name}}</li>
          {{/each}}
      </ul>
    </div>
    <div class="dashboardappointments">
      <h1>Appointments
      </h1>
      <ul>
        <li>Josh</li>
        <li>Alex</li>
        <li>Brent</li>
      </ul></div>
  </div>
</div>