

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right admin-patient-entire ">
<h1 class="patienthead admin-patient-header">Current List of Scheduled Patients:</h1>

<div class="patients">
  {{#each data.appointments as |patient|}}

<div class="w3-card-4 patientbox admin-patient-box">
  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="patient name">
  <div class="w3-container w3-center">
    <p class="admin-patient-name">Patient Name: {{patient.user.name}}</p>
    <p class="admin-patient-date">Next Appointment Date: {{patient.date}}</p>
  </div>

   {{/each}}
   </div>
   </div>