<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right margin-left-admin-main-header">
  <div class="dashboardtop">
    <div class="container text-center">
      <h4>Welcome Back <b>{{data.name}}!</b></h4>
        <h4>Title: <b> {{data.title}}</b></h4>
    </div>
  </div>
  <div class="dashboardbot margin-left-admin-main-body">
    <div>
      <h1>Your Patients</h1>
      <ul>
    {{#each filteredPatients as |patient|}}
        <li class="margin-left-admin-main-pts">{{patient}}</li>
          {{/each}}
      </ul>
    </div>
  </div>
</div>