{{!-- This is our home page --}}
        <div class="text-center margin-main-header">
            <h1>Welcome to Arthur's Psychiatry!</h1>
            <p>Please login to access your portal </p>
        </div>
        
        <div class="d-flex align-items-center">
             {{!-- user login --}}
            <div class="col-6">
                <h2 class="text-center">Patient portal</h2>
                <form class="form login-form login-form-user login-forms-user-admin">
                    <div class="form-group">
                        <label class="d-block" for="email-login">email:</label>
                        <input class="form-input d-block w-75" type="text" id="user-email-login" />
                    </div>
                    <div class="form-group">
                        <label class="d-block" for="password-login">password:</label>
                        <input class="form-input d-block w-75" type="password" id="user-password-login" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="user-button">login</button>
                    </div>
                </form>
            </div>

            {{!-- admin login --}}
            <div class="col-6">
                <h2 class="text-center">Admin Portal</h2>

                <form class="form login-form login-form-admin login-forms-user-admin">
                    <div class="form-group">
                        <label class="d-block" for="email-login">email:</label>
                        <input class="form-input d-block w-75" type="text" id="admin-email-login" />
                    </div>
                    <div class="form-group">
                        <label class="d-block" for="password-login">password:</label>
                        <input class="form-input d-block w-75" type="password" id="admin-password-login" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="admin-button">login</button>
                    </div>
                </form>
            </div>
        </div>