<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right cat">
  <div class="dashboardtop">
    <img
      src="//www.html.am/images/samples/remarkables_queenstown_new_zealand-300x225.jpg"
      alt="Avatar"
      style=""
    />
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Age:</p>
      <P>Weight:</P>
      <p>Height:</p>
    </div>
  </div>
  <div class="dashboardbot">
  <form action="SEND ADDRESS" id="ft-form" method="POST" accept-charset="UTF-8" class="dog">
  <fieldset>
    <legend>Appointment request</legend>
        <label>
      Name:
      <input type="text" name="name" id="name" required>
    </label>
    <div class="two-cols">
      <label>
        Date:
        <input type="date" name="Appointment request" id="date" required>
      </label>
      <label for="">
        Time:
              <input type="time" id= "time"name="week" min="2018-W1" max="2018-W52">
      </label>
      <label for="cars">Name of Patient</label>
<select id="pname" name="cars">
  <option value="Roger">Roger</option>
  <option value="Zoot">Zoot</option>
  <option value="Denis">Denis</option>
</select>
<label for="cars">Choose a Doctor:</label>
<select id="dname" name="cars">
  <option value="Arthur">Arthur</option>
  <option value="Lance">Lance</option>
</select>
    </div>
    </div>
  </fieldset>
  <div class="btns">
    <input type="text" name="_gotcha" value="" style="display:none;">
    <input type="submit" value="Submit request">
  </div>
  </form>

          </div>
      </div>
    </body>
  </main>

  <script src="/js/logout.js"></script>
   <script src="/js/user-main.js"></script>

</html>