<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right cat">
  <div class="dashboardtop">
    <img
      src="//www.html.am/images/samples/remarkables_queenstown_new_zealand-300x225.jpg"
      alt="Avatar"
      style=""
    />
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Age:</p>
      <P>Weight:</P>
      <p>Height:</p>
    </div>
  </div>
  <div class="dashboardbot">
    <div>
      <h1>Next Appointment</h1>
      <ul>
        <li>Josh</li>
        <li>Alex</li>
        <li>Brent</li>
      </ul>
    </div>
    <div class="dashboardappointments">
      <h1>Medications
      </h1>
      <ul>
        <li>Josh</li>
        <li>Alex</li>
        <li>Brent</li>
      </ul></div>
  </div>
</div>