<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right margin-left-appt">
  <h4 class="rach">Upcoming Appointments:</h4>

  {{#each data.appointments as |appointment|}}
    <div class="card">
      <div class="container">
        <h4>Doctor: {{appointment.admin.name}}</h4>
        <p>Date: {{appointment.date}}</p>
           <p> Time: {{format_time start_time}}-{{format_time end_time}}</p>
      </div>
    </div>
  {{/each}}

</div>

        </div>
      </div>
    </body>
  </main>

  <script src="/js/logout.js"></script>

</html>