<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-right">
  <div class="dashboardtop margin-left-user-main">
    <div class="container text-center">
      <h4>Welcome Back <b>{{data.name}}!</b></h4>
    </div>
  </div>
  <div class="dashboardbot text-center margin-left-user-main">
  <form action="SEND ADDRESS" id="ft-form" method="POST" accept-charset="UTF-8" class="dog">
  <fieldset>
    <legend class="margin-left-user-main-apptreq">Appointment request</legend>
    <div class="two-cols margin-left-user-main-box">
      <label>
        Date:
        <input type="date" name="Appointment request" id="date" required>
      </label>
      <label for="">
        Start Time:
              <input type="time" id= "time2"name="week" min="2018-W1" max="2018-W52">
      </label>
            <label for="">
        End Time:
              <input type="time" id= "time3"name="week" min="2018-W1" max="2018-W52">
      </label>
<label for="cars">Choose a Doctor:</label>
<select id="dname" name="cars">
  <option value="Arthur">Arthur</option>
  <option value="Lance">Lance</option>
</select>
    </div>
    </div>
  </fieldset>
  
  <div class="btns margin-left-user-main-btn">
    <input type="text" name="_gotcha" value="" style="display:none;">
    <input type="submit" value="Submit request">
  </div>
</form>

          </div>
      </div>
    </body>
  </main>

  <script src="/js/logout.js"></script>
   <script src="/js/user-main.js"></script>

</html>

