header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

footer {
  /* Sends footer to the bottom and centers*/
    position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* Sign out Button */
#logout-btn:hover  {
  cursor: pointer;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.dashboardtop {
  border: 1px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.dashboardbot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: #1b89bc;

}

.dashboardappointments {
  margin-right: 150px;
}

.rach {
  margin-top: 25px;
  margin-bottom: 25px;
}

.patienthead {
  border-bottom: 10px;
  }

.patientbox {
border-top: 1px;
}
.patients {
  display: flex;
}

.adminappointment {
  margin-top: 10px;
}